# Intellij Idea project files
.idea
*.iml
*.ipr
*.iws

# gradle config
.gradle

# project binaries
/build/
out
classes

# sonar
sonar-project.properties
.sonar

# mac os x
.DS_Store

# netbeans
.nb-gradle

/config

#frontend
node_modules/
dist/
public/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
*.swp
