/** Stylus Styles */

@import '../node_modules/vuetify/src/stylus/main'

.v-input--selection-controls .v-input__slot {
  margin-bottom: 2px;
}

.v-expansion-panel__header {
  padding-left: 0px;
}

.v-btn-toggle .v-btn.v-btn--active {
    background-color: #2196f3;
    color: white;
    font-weight: bold;
}
